<h1 class="text-3xl font-bold text-gray-900 mb-4"><%= t("homepage.title") %></h1>
<p><%= t("homepage.description") %></p>
<div class="flex items-center p-3 my-4 bg-amber-400/30 border border-amber-400 rounded-xl mb-10">
  <img src="<%= asset_path('svg/light_bulb.svg') %>" class="h-8 me-3" alt="Light bulb">
  <%= t("homepage.help") %>
</div>
