<nav class="flex items-center justify-start px-3 py-2 shadow-md bg-white">
  <%= link_to root_path, class: "flex items-center ms-2 me-10" do %>
    <%= image_tag('logos/fresque_en.png', class: "h-9") %>
  <% end %>
  <ul class="flex items-center space-x-4">
    <li>
      <%= link_to("Home", root_path, class: "font-semibold text-gray-700 hover:text-gray-900 hover:text-teal-700") %>
    </li>
    <li>
      <%= link_to("Help", Constants::Links::HELP, class: "font-semibold text-gray-700 hover:text-gray-900 hover:text-teal-700", target: :_blank) %>
    </li>
  </ul>
</nav>
